In [1]:
import pandas as pd
import os

In [17]:
airport_info = pd.read_csv("Data/airports.csv")
countries_info = pd.read_csv("Data/countries.csv")
route_info = pd.read_csv("Data/routes.csv")

In [25]:
route_df = route_info.drop(columns=[" codeshare", " stops"])
route_df.rename(columns={
    'airline ID': "airline_id",
    ' source airport': "source_airport",
    ' source airport id': "source_airport_id",
    ' destination apirport': "destination_airport",
    ' equipment': "equiptment"
}, inplace=True)


# route_df = route_df[route_df["source_airport"] != "IKE", "IOT", "JJA", "JUU", "MLH", "QFN", "QJH", 
#                     "QUV", "QUW", "SHP", "SXF", "UPK", "XEQ", "ZBL"]

route_df

TypeError: '(0        True
1        True
2        True
3        True
4        True
         ...
67658    True
67659    True
67660    True
67661    True
67662    True
Name: source_airport, Length: 67663, dtype: bool, 'IOT', 'JJA', 'JUU', 'MLH', 'QFN', 'QJH', 'QUV', 'QUW', 'SHP', 'SXF', 'UPK', 'XEQ', 'ZBL')' is an invalid key

In [10]:
airport_df = airport_info.drop(columns=["ident", "elevation_ft", "continent", "iso_region",
                                        "municipality", "scheduled_service", "gps_code", "local_code",
                                       "home_link", "wikipedia_link", "keywords"])

airport_df.rename(columns={
    "type": "ap_type",
    "name": "ap_name",
    "latitude_deg": "lat",
    "longitude_deg": "lng",
    "iso_country": "country_code",
}, inplace=True)

airport_df

,id,ap_type,ap_name,lat,lng,country_code,iata_code
0,6523,heliport,Total Rf Heliport,40.070801,-74.933601,US,NaN
1,323361,small_airport,Aero B Ranch Airport,38.704022,-101.473911,US,NaN
2,6524,small_airport,Lowell Field,59.949200,-151.695999,US,NaN
3,6525,small_airport,Epps Airpark,34.864799,-86.770302,US,NaN
4,6526,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,US,NaN
...,...,...,...,...,...,...,...
63123,46378,heliport,Sealand Helipad,51.894444,1.482500,GB,NaN
63124,307326,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,TF,NaN
63125,342069,closed,Scandium Seaport,69.358704,-138.913910,CA,ZYT
63126,342102,closed,Scandium City Heliport,69.355287,-138.939310,CA,ZYW
63127,313629,small_airport,Satsuma Iōjima Airport,30.784722,130.270556,JP,NaN

In [16]:
countries_df = countries_info.drop(columns=["wikipedia_link", "keywords"])

countries_df.rename(columns={
    "continent": "continent_id"
}, inplace=True)

countries_df

         id code                           name continent_id
0    302672   AD                        Andorra           EU
1    302618   AE           United Arab Emirates           AS
2    302619   AF                    Afghanistan           AS
3    302722   AG            Antigua and Barbuda          NaN
4    302723   AI                       Anguilla          NaN
..      ...  ...                            ...          ...
242  302609   YT                        Mayotte           AF
243  302610   ZA                   South Africa           AF
244  302611   ZM                         Zambia           AF
245  302612   ZW                       Zimbabwe           AF
246  302613   ZZ  Unknown or unassigned country           AF

[247 rows x 4 columns]